
.artist-section {

    .container {

        .title {
            text-align: center;
            font-family: 'Montserrat';
            letter-spacing: 10px;
            font-weight: 400;
            color: #363636;
            font-size: 16px
        }

        .card-wrapper {

            @media screen and (max-width: $tablet) and (orientation: portrait){
                padding-right: 3rem;
                padding-left: 3rem;
            }

            @media screen and (min-width: $tablet) and (max-width: $web) and (orientation: portrait){
                width: 150px;
            }

            @media screen and (min-width: $tablet) and (max-width: $web) and (orientation: landscape) {
                width: 150px;
            }

            .card-img {
                cursor: pointer;

                img {
                    width:100%;
                }
            }

            .card-desc {
                display:flex;
                flex-direction:column;
                font-family: "Montserrat";

                .name {
                    color: #363636;
                    letter-spacing: 2px;
                    font-size: 16px;
                    font-weight: 700;
                }

                .pos {
                    letter-spacing: 2px;
                    font-weight: 400;
                    font-size: 14px;
                }

                .contact {

                    svg {
                        cursor: pointer;
                        margin-left:15px;
                        transition: 0.5s;

                        &:first-child {
                            margin-left:0px;
                        }

                        &:hover {
                            color:#f2709c;
                            // transform:scale(1.1);
                        }
                    }

                }

            }

            .react-simple-image-viewer__modal {
                z-index: 120;

                .react-simple-image-viewer__slide {
                    animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
                }
            }

        }

    }

}


.scale-in-center{-webkit-animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both};
@-webkit-keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}@keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}};
