@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;900&display=swap');

@import './style/ServiceType.scss';

* {
  margin:0;
  padding:0px;
}

body {
  width:100vw;
  height:100vh;
  font-family: 'Montserrat', sans-serif;
}

// Breakpoints Variables
$phone: 576px;
$tablet: 768px;
$web: 992px;


// ---------------------------------------------- Nav Bar ------------------------------------------------------------------
// -------------------------------------------------------------------------------------------------------------------------

.nav-wrapper {

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    position: absolute;
    z-index: 1;
    width: 100%;

    .nav-opt {

      .navbar--link {
        margin: 0;
        padding: 10px 15px;
        display: flex;
        list-style: none;

        .navbar--link-item {
          // margin: 0.4rem 1rem 0 0;
          padding: 0 0.3rem;
          cursor: pointer;
         
          .nav-link {
            font-weight:700;
            font-size:0.8rem;
            color: #fff;
            letter-spacing: 2.5px;

            &.sticky {
              color: rgba(80,80,80,1);
            }
          }

        }

      }

    }

  }

  .navbar-sticky {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index:99;
    animation: moveDown 0.2s ease-in;
  }

}

.nav-mobile-wrapper {
  position: absolute;
  width: 100vw;

  .navbar-mobile {
    
    &.c-close {
      background-color:white;
    }

    .navbar-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 20px;

      .nav-log {

      }

      .navbar-hamburger {

        .hamburger {
          height: 2rem;
          width: 2rem;
          display: inline-block;
          cursor: pointer;
          position: relative;
          margin-top: 10px;

          &.opened {
            .bar {
              transition: top 100ms 230ms, transform 100ms, opacity 100ms;
              transition-timing-function: cubic-bezier(1, 0.05, 0.62, 1.78);
        
              &:first-of-type {
                top: 0.5em;
                transform: rotate(45deg);
              }
        
              &:nth-of-type(2) {
                opacity: 0;
              }
        
              &:nth-of-type(3) {
                top: 0.5em;
                transform: rotate(-45deg);
              }
            }
          }
        
          .bar {
            height: 0.33rem;
            background: linear-gradient(to right, #f2709c, #ff9472);
            position: absolute;
            display: block;
            width: 100%;
            transition: top 100ms, transform 100ms 230ms, opacity 100ms 230ms;
            transition-timing-function: cubic-bezier(1, 0.05, 0.62, 1.78);
        
            &:first-of-type {
              top: 0;
            }
        
            &:nth-of-type(2) {
              top: 0.5rem;
            }
        
            &:nth-of-type(3) {
              top: 1rem;
            }

          }

        }

      }

    }


    .nav-opt {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .navbar--link {
        display: block;
        text-align: center;
        list-style-type: none;
        padding: 0;
        margin: 0;

        .navbar--link-item {

          .nav-link {
            display: block;
            // padding: 50px;

            // sm- mobile
            @media screen and (max-width: $phone) {
              padding-top: calc(100% - 180px);
            }

            // sm ~ md- mobile ~ tablet
            // reason being is that some mobile screen on landscape is bigger than ipad width.
            @media screen and (min-width: $tablet) and (max-width: $web)  {
              padding-top: calc(100% - 140px);
            }     

            // md- tablet
            // @media screen and (min-width: $phone) and (max-width: $tablet) {
            //   padding-top: calc(100% - 180px);
            // }

          }
    
          a {
            color:#f2709c;
            text-decoration: none;
          }
        }
      }

      &.close {
        display:none;
      }
    }
  }
}



// ---------------------------------------------- Home Page ------------------------------------------------------------------
// -------------------------------------------------------------------------------------------------------------------------

.main-section {
  display:flex;
  flex-direction: column;

  .container {
    margin: auto;

    .tilt-logo {
      position: absolute;
      top: 20%; 

      // sm ~ md- mobile ~ tablet
      // reason being is that some mobile screen on landscape is bigger than ipad width.
      @media screen  and (max-width: $web) and (orientation : portrait) {
        top: 10%;
        left: 15%;
      }     
      
      // sm ~ md- mobile ~ tablet
      // reason being is that some mobile screen on landscape is bigger than ipad width.
      @media screen and (min-width: $tablet) and (max-width: $web) and (orientation : landscape) {
        // margin-top: 150px;
      }     

      .layer-logo {
        position: absolute;
        width: 300px;
        height: 300px;
      }
      // .titl-logo-img {
      //   position: absolute;
      //   left: 0%;
      //   height: 300px;
      //   width: 300px;
      // }

    }

    .text-wrapper {
      margin-top: 30%;
      padding:0px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      text-transform: uppercase;
      color:rgba(54, 54, 54, 0.95);
    
      // sm- mobile
      @media screen and (max-width: $phone) and (orientation : portrait) {
        margin-top: 200px;
        align-items: center;
      }

      // sm ~ md- mobile ~ tablet
      // reason being is that some mobile screen on landscape is bigger than ipad width.
      @media screen and (min-width: $tablet) and (max-width: $web) and (orientation : portrait) {
        margin-top: 150px;
        align-items: center;
      }     
      
      // sm ~ md- mobile ~ tablet
      // reason being is that some mobile screen on landscape is bigger than ipad width.
      @media screen and (min-width: $tablet) and (max-width: $web) and (orientation : landscape) {
        margin-top: 150px;
      }     

      // // md- tablet
      // @media screen and (min-width: $phone) and (max-width: $tablet) {
      //   text-align: left;
      //   margin-top: 150px;
      // }
  
      .text-header {
        font-family: 'Playfair Display', serif;
        font-weight:900;
        font-size:6.5rem;
        line-height: 6.5rem;
        white-space: nowrap;
        z-index:1;
        
        // sm- mobile
        @media screen and (max-width: $phone) {
          font-size: 2.5rem;
          line-height: 3rem;
        }

        // sm ~ md- mobile ~ tablet
        // reason being is that some mobile screen on landscape is bigger than ipad width.
        @media screen and (min-width: $tablet) and (max-width: $web)  {
          font-size: 3rem;
          line-height: 3rem;
        }     

        // md- tablet
        @media screen and (min-width: $phone) and (max-width: $tablet) {
          font-size: 5rem;
          line-height: 5rem;
        }
  
      }
      
      .text-subheader {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 0.9rem;
        line-height: 2rem;
        letter-spacing: 10px;
        padding: 20px;
        text-align: center;
        margin-left: 50px;
        z-index:1;

        // sm - mobile
        @media screen and (min-width: $phone) and (max-width: $tablet) {
          font-size: 0.7rem;
          line-height: 1rem;
          letter-spacing: 5px;
          padding: 20px;
          text-align: center;
          margin-left: 0px;
        }
  
        // sm ~ md- mobile ~ tablet
        // reason being is that some mobile screen on landscape is bigger than ipad width.
        @media screen and (min-width: $tablet) and (max-width: $web) and (orientation : landscape) {
          font-size: 0.7rem;
          line-height: 1rem;
          letter-spacing: 5px;
          padding: 20px;
          text-align: center;
          margin-left: 0px;
        }     

      
        // md- tablet
        @media screen and (min-width: $tablet) and (max-width: $web){
          // letter-spacing:2px;
        }
  
      }
    }
  
  }

}

// HOME
.main-section {
 background-image:url(https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/18/2018/03/model-60022216.jpg);
 background-size: cover;
 background-position: 28% 0%;
 height:100vh;
 width:100%; 
}
